line-length = 88
target-version = "py311"

[lint]
select = ["E", "F", "I", "B", "UP", "A", "C4"]
ignore = []

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
docstring-code-format = true